* {
    margin: 0;
    box-sizing: content-box;
}

/* vars */


/* bp */
:root {
    /* pallete */
    --yellow: #FFE15D;
    --orange: #F49D1A;
    --red: #DC3535;
    --purple: #B01E68;


    /* sizes */
    --s: 600px;
    --m: 900px;
    --l: 1060px;
}

/* BASE */

/* typography */

@font-face {
    font-family: luckiest-guy;
    src: url("./assets/fonts/logo-font/LuckiestGuy-Regular.ttf")
}

@font-face {
    font-family: assistant;
    src: url("./assets/fonts/Assistant-Regular.ttf")
}

/* basicx */
body {
    margin: 0;
    font-family: assistant;
    background-color: hsl(49, 100%, 92%);
}

.main-layout>*:not(.full) {
    /* max-width: 980px; */
    max-width: var(--l);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-size: 1em;
}

button>* {
    margin: auto;
}

/* helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.a-class {
    /* Style for "A+" */
    font-size: 1.25rem;
    font-weight: bold;
}

/* components */

.main-screen {
    position: fixed;
    inset: 0;
    background-color: var(--orange);
    /* background-color: rgb(1 1 1 / 70%); */
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: .4;
}

/* Header */

header {
    background-color: var(--red);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 1.5rem;
}

.logo {
    font-family: luckiest-guy;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: beige;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header a {
    color: var(--yellow);
    font-size: 1.25rem;
    padding: 1.7rem;
}


header a:hover {
    color: white;
    font-size: 1.25rem;
    padding: 1.7rem;
    background-color: var(--orange);
}

header a:active {
    color: black;
    font-size: 1.25rem;
    padding: 1.7rem;
    background-color: var(--purple);
}

.menu-toggle-btn {
    display: none;
}

/* Gallery */
.gallery {
    width: 100%;
    display: grid;
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 10px;
}

.grid-item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
}

.gallery img {

    grid-row: 1 / -1;
    grid-column: 1;

}

.shadow img {
    transition: .5s ease;
}

.shadow img:hover {
    box-shadow:
        1px 1px #b11a1a,
        2px 2px #b11a1a,
        3px 3px #b11a1a,
        4px 4px #b11a1a,
        5px 5px #b11a1a,
        6px 6px #b11a1a;
    transform: translateX(-3px);
    transition: .2s ease;
}

/* Editor */
.editor {
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
}

.canvas-container {
    display: flex;

}

.canvas {
    display: flex;
    align-items: center;
}

.control-box {
    display: flex;
    padding: 0.5rem;
}

.controllers {
    border: #b1631a 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--orange);
}

.control-box button {
    border-radius: 10px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--yellow);
    color: --red;
    border: 1px --red solid;

}

.control-box button:hover {
    background-color: var(--purple);
    color: white;
}

.text-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.text-input {
    font-size: 1.25rem;
    border-radius: 45px;
    padding: 0.5rem;
    border: 1px --red solid;
    width: 90%;
    text-align: center;

}

.line-editor {
    padding: 0.5rem;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 1rem;
}

.line-editor>* {
    flex-direction: row;
}

.move-buttons {
    display: flex;
}

.move-buttons button {
    width: 1rem;
}

.move-buttons>* {
    width: 1rem;
    display: flex;
}

.switch-button-editor {
    content: 'butt';
    color: #22252c;
}

.edit-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1rem;
}

.font-size-editor {
    display: flex;
    justify-content: flex-start;
}

.text-align-editor {
    display: flex;
    justify-content: flex-end;
}

.font-styling {
    display: flex;
    flex-direction: row;
    margin: 0 0 1rem;
    width: 100%;
    justify-content: space-around;
}

.font-style-editor {
    display: flex;
    flex-grow: 0.6;
    font-size: 1rem;
    border-radius: 20px;
    padding: 0.5rem;
}

.color-button {
    display: flex;
}

.color-editor {
    opacity: 0;
    width: 100px;
    position: absolute;
}


.share-editor {
    display: flex;
    flex-direction: row;
    margin: 0 0 1rem;
    width: 100%;
}

.share-editor> * {
    display: flex;
    flex-grow: 0.8;
    justify-content: space-around;
    flex-direction: row;
}

.share-editor button {
    flex-grow: 0.8;
    color: black;
}

.download-btn a {
    text-decoration: none;
    color: black;
}

.download-btn a:hover {
    text-decoration: none;
    color: white;
}

@media (min-width: 640px) and (max-width: 980px) {

    .main-layout>*:not(.full) {
        max-width: var(--l);
    }

    .gallery {
        width: 90%;
        display: grid;
        padding: 0.5rem
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
    }
}


@media (max-width: 640px) {
    .main-layout>*:not(.full) {
        margin-left: auto;
        margin-right: auto;
    }

    header {
        display: flex;
        padding: 0;
    }

    .menu-toggle-btn {
        display: block;
        background-color: var(--red);
        border: none;
        color: yellow;
        font-size: 1.5rem;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background: rgba(220, 53, 53, 0.8);
        border-inline-start: 1px solid #ccc;
        min-width: 200px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open nav ul {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    }

    header nav a {
        display: block;
        text-align: center;
        position: relative;
        padding: 13px 10px;
        transition: background-color .6s;
    }

    header nav a:hover {
        background-color: var(--clr-1);
    }

    .gallery {
        width: 90%;
        display: grid;
        padding: 0.5rem
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
    }

    .editor {
        align-items: center;
        justify-content: space-between;
        width: 70%;
        height: 80vh;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #canvas {
        width: 100vw;
    }

    .controllers {
        background-color: #fff8d6;
        border: none;
        padding: 0;
        width: 100vw;
    }

    .control-box {
        display: flex;
        padding: 0
    }


    .control-box button {
        border-radius: 10px;
        width: 3rem;
        height: 3rem;
        background-color: var(--yellow);
        color: --red;
        border: 1px --red solid;

    }

    .control-box button:hover {
        background-color: var(--purple);
        color: white;
    }

    .text-editor {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 1rem;
    }

    .text-input {
        font-size: 1.25rem;
        border-radius: 45px;
        padding: 0.5rem;
        border: 1px --red solid;
        width: 90%;
        text-align: center;

    }

    .line-editor {
        justify-content: center;
    }

    .line-editor button {
        margin: 0 0.2rem;
    }

    .font-size-editor {
        display: flex;
        justify-content: flex-start;
    }

    .text-align-editor {
        display: flex;
        justify-content: flex-end;
    }

    .font-styling {
        display: flex;
        flex-direction: row;
        margin: 0 0 1rem;
    }

    .font-style-editor {
        font-size: 1rem;
        border-radius: 20px;
        padding: 0.5rem;
    }

    .color-editor {
        opacity: 0;
        width: 100px;
        position: absolute;
    }


    .share-editor {
        display: flex;
        flex-direction: row;
        margin: 0 0 1rem;
    }

    .share-editor>* {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }

}