* {
    margin: 0;
    box-sizing: content-box;
}

/* vars */

/* bp */
:root {
    --s: 600px;
    --m: 900px;
    --l: 1060px;
}

/* BASE */

/* typography */

@font-face {
    font-family: luckiest-guy;
    src: url("./assets/fonts/logo-font/LuckiestGuy-Regular.ttf")
}

@font-face {
    font-family: assistant;
    src: url("./assets/fonts/Assistant-Regular.ttf")
}

@font-face {
    font-family: fa;
    src: url("./assets/fonts/font-awesome/fa-regular-400.otf");
}

/* basicx */

body {
    margin: 0;
    font-family: assistant;
    background-color: rgb(255, 241, 241);
}

.main-layout>*:not(.full) {
    /* max-width: 980px; */
    max-width: var(--l);
    margin-left: auto;
    margin-right: auto;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0 1em;
}


img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-size: 1em;
}

/* helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* components */

/* Header */

header {
    background-color: crimson;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    z-index: 999;
}

.logo {
    font-family: luckiest-guy;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: beige;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header a {
    color: beige;
    font-size: 1.25rem;
    padding: 1.7rem;
}


header a:hover {
    color: black;
    font-size: 1.25rem;
    padding: 1.7rem;
    background-color: white;
}

header a:active {
    color: black;
    font-size: 1.25rem;
    padding: 1.8rem;
    background-color: greenyellow;
}

/* Gallery */
.gallery {
    width: 100%;
    display: grid;
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 10px;
}

.grid-item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
}

.gallery img {

    grid-row: 1 / -1;
    grid-column: 1;

}

.shadow img {
    transition: .5s ease;
}

.shadow img:hover {
    box-shadow:
        1px 1px #b1631a,
        2px 2px #b1631a,
        3px 3px #b1631a,
        4px 4px #b1631a,
        5px 5px #b1631a,
        6px 6px #b1631a;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .2s ease;
}

/* Editor */
.editor {
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 80vh;
    padding: 3rem;
    display: flex;
    flex-direction: row;
}

.canvas-container {
    display: flex;

    /* height: 100vh;
    width: 100% */
}

.canvas {
    /* width: 70%;; */
    display: flex;
    align-items: center;
}

.control-box {
    background-color: crimson;
    width: 40%;
    height: 60%;
    display: flex;

    padding: 0.5rem;
    justify-content: center;
    border: #b1631a 1px solid;
    border-radius: 10px;
    align-items: center;
}

.controllers {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;

}

.text-editor {
    font-size: 1.25rem;
    border-radius: 45px;
    padding: 0.5rem;
    border: 1px lightgreen solid;
    width: 100%;
    justify-content: center;
}

.line-editor {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.line-editor>* {
    margin: 0 0.3rem
}

.color-editor {
    background: none;
    height: 1.75rem;
    width: 30%;
    margin: 0.5rem 0.25rem;
    /* border: none; */
}

.edit-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share-editor {
    display: flex;
    flex-direction: row;
}

.share-editor>* {
    flex-grow: 1;
}

.control-box button {
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    background-color: white;
    color: black;
    border: 1px lightgreen solid;

}

.control-box button:hover {
    background-color: yellowgreen;
    color: white;
}

.control-box button:active {
    background-color: white;
    color: yellowgreen;
}


@media (min-width: 940px) {

    .main-layout>*:not(.full) {
        max-width: var(--m);
    }
}


@media (min-width: 640px) {
    .main-layout>*:not(.full) {
        max-width: var(--s);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1100px) {
    .main-layout>*:not(.full) {
        max-width: var(--l);
    }
}